<!DOCTYPE html>
<html ng-app="directoryApp">
<head>
	<meta charset="UTF-8"> 
	<title>AngularJs for everyone</title>
	<style type="text/css">
	.over-thirty{
		background: red;
		color: white;
	}
	.under-thirty{
		background: blue;
		color: white;
	}
	.hidden{
		display: none;
	}
	</style>
</head>
<body ng-controller="directoryController as dirList">
	<input type="text" ng-model="search">

	<ul ng-class="{'hidden': !dirList.toggle}">
		<li ng-repeat="item in dirList.list | filter:search"
			ng-class="item.age > 30 ? 'over-thirty' : 'under-thirty'"
		>
			<img ng-src="{{item.img}}"/>{{item.name}} - <em>{{item.age}}</em>
		</li>
	</ul>

	<button ng-show="!dirList.toggle" ng-click="dirList.toggle = true">Show Names</button>
	<button ng-show="dirList.toggle" ng-click="dirList.toggle = false">Hide Names</button>

	<form ng-submit="dirList.addPerson()">
		<input type="text" placeholder="Name" ng-model="dirList.name">
		<input type="text" placeholder="Age"  ng-model="dirList.age">
		<input type="submit" value="Submit">
	</form>
	
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="directory.js"></script>
</body>
</html>